

@media only screen and (max-width: 2500px) and (min-width: 1901px) {
    .row { max-width: 1800px; }
    
    .section-title {
        margin: 40px 350px;
        font-size: 300%;
        padding: 1%;
    }
    
    .logo {
        height: 75px;
        margin: 15px 0px;
        margin-left: 40px;
    }

    .name {
        font-size: 190%;
        margin-top: 30px;
        margin-left: 40px;
    }

    .main-nav {
        font-size: 120%;
        top: 40px;
        right: 40px;
    }
    
    blockquote:before {
        font-size: 650%;
        top: 17%;
        left: 2%;
    }
    
    blockquote { font-size: 180%; }
    
    cite { font-size: 150%; }

    .company-saying {
        font-size: 150%;
        margin-top: 12%;
        margin-right: 75px
    }
    
    .g-slideshow {
        margin-left: 120px;
    }

    .d-slideshow {
        transform: translate(-125%);
    }
    
    .section-find-us { margin-top: 770px; }
    
    .map-containter { margin: 30px 110px; }
    
    .call-us h5 {
        font-size: 100%
    }

}

@media only screen and (max-width: 1900px) and (min-width: 1677px) {
    .company-saying { margin-top: 200px; }
    .section-find-us { margin-top: 700px; }
}

@media only screen and (max-width: 1676px) and (min-width: 1561px) {
    .logo { margin-left: %; }
    .name { margin-left: %;}
    .g-slideshow { margin-left: 50px; }
    blockquote:before {
        font-size: 500%;
        top: 20%;
        left: 3%;
    }
    .d-slideshow-nav { border: none; }
    .d-bar { border: 1px solid #000; }
    .section-find-us { margin-top: 700px; }
}

@media only screen and (max-width: 1560px) and (min-width: 1434px) {
    .g-slideshow { transform: translate(-5%); }
    .d-slideshow-nav{ border: none; }
    .d-bar { border: 1px solid #000; }
    .section-find-us { margin-top: 700px; }
}

@media only screen and (max-width: 1433px) and (min-width: 1376px) {
    .row { max-width: 1000px; }
    .logo { margin-left: -100px;}
    .name { font-size: 130%; margin-left: -20px; }
    .company-saying { font-size: 110%; }
    .main-nav li { font-size: 90%; }
    .main-nav { top: 25px; }
    blockquote { font-size: 130%; }
    blockquote:before {
        font-size: 450%;
        top: 20%;
        left: 3%;
    }
    cite { font-size: 100%; }
    .g-slideshow {
        width: 650px;
        height: 650px;
        margin-left: 100px;
    }
    .g-slideshow-nav {
        margin-left: 21%;
    }

    .g-slide {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 27px;
        margin-right: 27px;
    }

    #r1:checked ~ .s5 {
        margin-left: 27px;
    }

    #r1:checked ~ .s1 {
        margin-right: -330px;
    }

    #r2:checked ~ .s1 {
        margin-right: -150px;
    }

    #r2:checked ~ .s5 {
        margin-left: -150px;
    }

    #r3:checked ~ .s1 {
        margin-right: 23px;
    }

    #r3:checked ~ .s5 {
        margin-left: -330px;
    }

    .guitar-info {
        margin-top: 5px;
        font-size: 74%
    }

    .price { font-size: 110%; }

    .d-slideshow {
        margin-top: 5px;
        width: 500px;
        height: 400px;
        overflow: hidden;
        border: 1px solid #000;
    }
    
    .d-slides {
        width: 300%;
        height: 100%;
        display: flex;
        margin: 0;
        border: none;
    }
    
    .d-slide {
        width: 33.333333%;
    }
    
    .d-slide img {
        height: 80%;
        width: 90%;
        margin-left: 20px
    }
    
    input[name="d"] {
        position: absolute;
        visibility: hidden;
    }
    .drum-info { margin-top: 5px; }
    
    .drum-slideshow-nav {
        display: flex;
        position: relative;
        top: 448px;
        left: 17%;
    }
    .drum-bar {
        width: 80px;
        height: 20px;
        border: 1px solid #000000;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .drum-bar:hover { background-color: #3498db; }
    
    #d1:checked ~ .d1 {
        margin-left: 45px;
    }
      
    #d2:checked ~ .d1 {
        margin-left: -530px
    }
    
    #d2:checked ~ .d2 {
        width: 25%;
    }
    
    #d3:checked ~ .d1 {
        margin-left: -1120px
    }
    
    #d3:checked ~ .d3 {
        width: 25%;
    }
    
    .contact-us {
        width: 49%;
        float: left; 
    }
    
    .email {
        margin-left: 110px;
        margin-top: 40px;
    }
    
    .phone { margin-top: 40px; }

   
}

@media only screen and (max-width: 1375px) and (min-width: 1233px) {
    .logo { margin-left: 10px; }
    .name { margin-left: 40px; }
    .company-saying {margin-top: 12%}
    .contact-us {
        width: 45%;
        float: right; 
    }
    
    blockquote:before { top: 20%; }
    
    .call-us h2 { margin-left: 30%; }
    
    .map {
        float: left;
        width: 55%
    }

    .call-us h5 {
        text-align: center;
        margin-top: 10px;
        color: #525252;
        font-weight: 300;
        margin: 10px 40px;
        border-bottom: 1px solid #484848;
        padding-bottom: 10px;
    }
    
    .staff {
        margin-left: 0;
    }
    
    .person-pic1 img {
        height: 80px;
        margin-left: 50px;
    }


    .person-pic1 h5 {
        margin-top: 10px;
        margin-left: 30px;
        font-weight: 300;
        text-align: center;
    }

    .person-pic2 img {
        height: 80px;
        margin-left: 90px;
    }


    .person-pic2 h5 {
        margin-top: 10px;
        margin-left: 70px;
        font-weight: 300;
        text-align: center;
    }

    .person-pic3 img {
        height: 80px;
        margin-left: 80px;
    }


    .person-pic3 h5 {
        margin-top: 10px;
        margin-left: 50px;
        font-weight: 300;
        margin-right: 10px
    }

    .phone-email {
        display: flex;
        margin-left: 30px;
        margin-top: 50px;
    }

    .email {
        margin-left: 90px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 90px;
    }

    .phone {
        transition: 0.5s;
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 55px;
    }
    
    .g-slideshow {
        width: 650px;
        height: 650px;
        margin-left: 60px;
    }
    .g-slideshow-nav {
        margin-left: 21%;
    }

    .g-slide {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 27px;
        margin-right: 27px;
    }
    
    .g-bar:hover {
        background-color: #3498db;
    }

    #r1:checked ~ .s5 {
        margin-left: 27px;
    }

    #r1:checked ~ .s1 {
        margin-right: -330px;
    }

    #r2:checked ~ .s1 {
        margin-right: -150px;
    }

    #r2:checked ~ .s5 {
        margin-left: -150px;
    }

    #r3:checked ~ .s1 {
        margin-right: 23px;
    }

    #r3:checked ~ .s5 {
        margin-left: -330px;
    }

    .guitar-info {
        margin-top: 5px;
        font-size: 74%
    }

    .price { font-size: 110%; }

    .d-slideshow {
        margin-top: 0px;
        margin-left: 50px;
        width: 500px;
        height: 400px;
        overflow: hidden;
        border: 1px solid #000;
    }
    
    .d-slides {
        width: 300%;
        height: 100%;
        display: flex;
        margin: 0;
        border: none;
    }
    
    .d-slide {
        width: 33.333333%;
    }
    
    .d-slide img {
        height: 80%;
        width: 90%;
        margin-left: 20px
    }
    
    input[name="d"] {
        position: absolute;
        visibility: hidden;
    }
    .drum-info { margin-top: 5px; }
    
    .drum-slideshow-nav {
        width: 90%;
        display: flex;
        position: relative;
        bottom: -443px;
        left: 17%;
    }
    .drum-bar {
        width: 80px;
        height: 20px;
        border: 1px solid #000000;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .drum-bar:hover { background-color: #3498db; }
    
    #d1:checked ~ .d1 {
        margin-left: 45px;
    }
      
    #d2:checked ~ .d1 {
        margin-left: -530px
    }
    
    #d2:checked ~ .d2 {
        width: 25%;
    }
    
    #d3:checked ~ .d1 {
        margin-left: -1120px
    }
    
    #d3:checked ~ .d3 {
        width: 25%;
    }
}

@media only screen and (max-width: 1232px) and (min-width: 1100px) {
   .staff {
        margin-left: 15%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1232px) and (min-width: 950px) {
    .g-slideshow {
        width: 550px;
        height: 550px;
        margin-left: 30px;
    }
    .g-slideshow-nav {
        margin-left: 21%;
    }

    .g-slide {
        width: 22%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .g-bar:hover {
        background-color: #3498db;
    }
    
    .break1 { display: block; }

    #r1:checked ~ .s5 {
        margin-left: 27px;
    }

    #r1:checked ~ .s1 {
        margin-right: -240px;
    }

    #r2:checked ~ .s1 {
        margin-right: -102px;
    }

    #r2:checked ~ .s5 {
        margin-left: -150px;
    }

    #r3:checked ~ .s1 {
        margin-right: 35px;
    }

    #r3:checked ~ .s5 {
        margin-left: -330px;
    }

    .guitar-info {
        margin-top: 0px;
        font-size: 74%;
    }

    .price { font-size: 110%; }
    
    .d-slideshow {
        margin-top: 18px;
        margin-left: 20px;
        width: 400px;
        height: 300px;
        overflow: hidden;
        border: 1px solid #000;
    }
    
    .d-slides {
        width: 300%;
        height: 100%;
        display: flex;
        margin: 0;
        border: none;
    }
    
    .d-slide {
        width: 27%;
    }
    
    .d-slide img {
        height: 80%;
        width: 90%;
        margin-left: 20px
    }
    
    input[name="d"] {
        position: absolute;
        visibility: hidden;
    }
    .drum-info { 
        margin-top: 5px;
        font-size: 74%;
        height: 22%;
        box-shadow: 0px 10px 5px #cecece;
    }
    
    .drum-slideshow-nav {
        width: 90%;
        display: flex;
        position: relative;
        bottom: -360px;
        left: 12%;
    }
    .drum-bar {
        width: 80px;
        height: 20px;
        border: 1px solid #000000;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .drum-bar:hover { background-color: #3498db; }
    
    #d1:checked ~ .d1 {
        margin-left: 45px;
    }
      
    #d2:checked ~ .d1 {
        margin-left: -360px
    }
    
    #d2:checked ~ .d2 {
        width: 25%;
    }
    
    #d3:checked ~ .d1 {
        margin-left: -775px
    }
    
    #d3:checked ~ .d3 {
        width: 25%;
    }
    
    .contact-us {
        width: 100%;
        margin-top: 10px;
    }
    
    .map-container {
        margin: 0 7.5%;
        width: 85%;
        border: none;
    }
    
    .map { 
        width: 100%;
        box-shadow: 0px 0px 10px #939393;
    }
    
    .call-us h5 { 
        font-weight: 300;
        font-size: 100%
    }

    .staff {
        margin-left: 11%;
        margin-top: 20px;
    }
    
    .phone-email {
        margin-left: 22%;
        margin-bottom: 10px;
    }

    .email {
        margin-left: 100px;
        margin-top: 50px;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 90px;
    }

    .phone {
        transition: 0.5s;
        margin-left: 40px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 1232px) and (min-width: 1000px) {
    body { font-size: 90%; }
    .logo { margin-left: 30px; }
    .name { margin-left: 20px; }
    .footer { margin: 0 2%; }
}

@media only screen and (max-width: 949px) and (min-width: 500px) {
    blockquote:before { top: 15%; }
    blockquote { font-size: 130%; }
    cite { font-size: 100%; margin-right: 30px; }
    .company-saying { margin-right: 20px; }
    
    .g-slideshow {
        width: 550px;
        height: 550px;
        margin-left: -205px;
    }
    .g-slideshow-nav { margin-left: 17.25%; }

    .g-slide {
        width: 22%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .g-bar:hover {
        background-color: #3498db;
    }
    
    .break1 { display: block; }

    #r1:checked ~ .s5 {
        margin-left: 27px;
    }

    #r1:checked ~ .s1 {
        margin-right: -240px;
    }

    #r2:checked ~ .s1 {
        margin-right: -102px;
    }

    #r2:checked ~ .s5 {
        margin-left: -150px;
    }

    #r3:checked ~ .s1 {
        margin-right: 35px;
    }

    #r3:checked ~ .s5 {
        margin-left: -330px;
    }

    .guitar-info {
        margin-top: 0px;
        font-size: 74%;
    }

    .price { font-size: 110%; }
    
    .d-slideshow {
        margin-top: 450px;
        margin-left: 260px;
        width: 400px;
        height: 300px;
        overflow: hidden;
        border: 1px solid #000;
    }
    
    .d-slides {
        width: 300%;
        height: 100%;
        display: flex;
        margin: 0;
        border: none;
    }
    
    .d-slide {
        width: 27%;
    }
    
    .d-slide img {
        height: 80%;
        width: 90%;
        margin-left: 20px
    }
    
    input[name="d"] {
        position: absolute;
        visibility: hidden;
    }
    .drum-info { 
        margin-top: 5px;
        font-size: 74%;
        height: 22%;
        box-shadow: 0px 10px 5px #cecece;
    }
    
    .drum-slideshow-nav {
        width: 90%;
        display: flex;
        position: relative;
        bottom: -790px;
        left: 34%;
    }
    .drum-bar {
        width: 80px;
        height: 20px;
        border: 1px solid #000000;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .drum-bar:hover { background-color: #3498db; }
    
    #d1:checked ~ .d1 {
        margin-left: 45px;
    }
      
    #d2:checked ~ .d1 {
        margin-left: -360px
    }
    
    #d2:checked ~ .d2 {
        width: 25%;
    }
    
    #d3:checked ~ .d1 {
        margin-left: -775px
    }
    
    #d3:checked ~ .d3 {
        width: 25%;
    }
    
    .section-find-us { margin-top: 820px; }
    
    .contact-us {
        width: 100%;
        margin-top: 10px;
    }
    
    .map-container {
        margin: 0 7.5%;
        width: 85%;
        border: none;
    }
    
    .map { width: 100%; box-shadow: 0px 0px 10px #939393; }

    .call-us h5 { font-weight: 300; font-size: 100%}    
}

@media only screen and (max-width: 999px) and (min-width: 500px) {
    body { font-size: 80%; }
    .logo { margin-left: 30px; }
    .name { margin-left: 20px; } 
    .footer { margin: 0 2%; }
    .guitar-info { font-weight: 400; }
    .drum-info { font-weight: 400; }
}

@media only screen and (max-width: 850px) and (min-width: 716px) {
    .staff { margin-top: 20px; margin-right: 100px; margin-left: 100px; width: 70%; }
    
    .person-pic1 img {
        height: 80px;
        margin-left: 0%;
    }

    .person-pic1 h5 {
        margin-left: 0px;
        font-size: 100%;
    }

    .person-pic2 img {
        height: 80px;
        margin-left: 55%;
    }

    .person-pic2 h5 {
        margin-left: 45px;
        font-size: 100%;
        width: 100%;
    }

    .person-pic3 img {
        height: 80px;
        margin-left: 60%;
    }

    .person-pic3 h5 {
        margin-left: 55px;
        width: 100%;
        font-size: 100%;
    }
    
    .phone-email {
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .email {
        margin-left: 190px;
        margin-top: 50px;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 75px;
    }

    .phone {
        transition: 0.5s;
        margin-left: 40px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 715px) and (min-width: 660px) {
    blockquote { font-size: 110%; }
    
    .staff { margin-top: 20px; margin-right: 80px; margin-left: 80px; width: 70%; }
    
    .person-pic1 img {
        height: 70px;
        margin-left: 0%;
    }

    .person-pic1 h5 {
        margin-left: 0px;
        font-size: 90%;
    }

    .person-pic2 img {
        height: 70px;
        margin-left: 55%;
    }

    .person-pic2 h5 {
        margin-left: 45px;
        font-size: 90%;
        width: 100%;
    }

    .person-pic3 img {
        height: 70px;
        margin-left: 60%;
    }

    .person-pic3 h5 {
        margin-left: 55px;
        width: 100%;
        font-size: 90%;
    }
    
    .phone-email {
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .email {
        margin-left: 90px;
        margin-top: 30px;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 75px;
    }

    .phone {
        transition: 0.5s;
        margin-left: 40px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 659px) and (min-width: 500px) {
    .staff { margin-top: 20px; margin-right: 40px; margin-left: 40px; width: 70%; }
    
    .person-pic1 img {
        height: 70px;
        margin-left: 0%;
    }

    .person-pic1 h5 {
        margin-left: 0px;
        font-size: 90%;
    }

    .person-pic2 img {
        height: 70px;
        margin-left: 55%;
    }

    .person-pic2 h5 {
        margin-left: 45px;
        font-size: 90%;
        width: 100%;
    }

    .person-pic3 img {
        height: 70px;
        margin-left: 60%;
    }

    .person-pic3 h5 {
        margin-left: 55px;
        width: 100%;
        font-size: 90%;
    }
    
    .phone-email {
        margin-left: 0%;
        margin-bottom: 10px;
    }

    .email {
        margin-left: 10%;
        margin-top: 30px;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 75px;
    }

    .phone {
        transition: 0.5s;
        margin-left: 40px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 550px) {
    .staff { margin-top: 20px; margin-right: 40px; margin-left: 40px; width: 70%; }
    
    .person-pic1 img {
        height: 70px;
        margin-left: 0%;
    }

    .person-pic1 h5 {
        margin-left: 0px;
        font-size: 90%;
    }

    .person-pic2 img {
        height: 70px;
        margin-left: 55%;
    }

    .person-pic2 h5 {
        margin-left: 45px;
        font-size: 90%;
        width: 100%;
    }

    .person-pic3 img {
        height: 70px;
        margin-left: 60%;
    }

    .person-pic3 h5 {
        margin-left: 55px;
        width: 100%;
        font-size: 90%;
    }
    
    .phone-email {
        margin-left: 0%;
        margin-bottom: 10px;
    }

    .email {
        margin-left: 19%;
        margin-top: 30px;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 75px;
    }

    .phone {
        transition: 0.5s;
        margin-left: 40px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
    blockquote:before { top: 13%; }
    .contact-us h2 { margin-left: 33%; }
}

@media only screen and (max-width: 415px) and (min-width: 320px) {
    blockquote { width: 80%}
    blockquote:before { top: 9.5%; }
    cite { float: left; margin-right: 0; margin-left: 130px;}
    body { font-size: 70%; }
    .logo { margin-left: 30px; height: 40px; }
    .name { margin-left: 20px; margin-top: 20px; font-size: 120%; } 
    .company-saying { margin-right: 5px; margin-top: 250px; text-align: center;}
    .section-title { margin: 40px 30px;}
    .g-slideshow {
        width: 350px;
        height: 350px;
        margin-left: -130px;
    }
    .g-slideshow-nav { margin-left: 16%; }

    .g-slide {
        width: 22%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .g-bar {
        width: 50px;
        height: 15px;
    }
    
    .g-bar:hover {
        background-color: #3498db;
    }
    
    .break1 { display: block; }

    #r1:checked ~ .s5 {
        margin-left: 15px;
    }

    #r1:checked ~ .s1 {
        margin-right: -165px;
    }

    #r2:checked ~ .s1 {
        margin-right: -75px;
    }

    #r2:checked ~ .s5 {
        margin-left: -180px;
    }

    #r3:checked ~ .s1 {
        margin-right: 15px;
    }

    #r3:checked ~ .s5 {
        margin-left: -330px;
    }

    .guitar-info {
        margin-top: 0px;
        font-size: 54%;
        font-weight: 400;
    }

    .price { font-size: 110%; }
    
    .d-slideshow {
        margin-top: 300px;
        margin-left: 199px;
        width: 300px;
        height: 200px;
        overflow: hidden;
        border: 1px solid #000;
    }
    
    .d-slides {
        width: 300%;
        height: 100%;
        display: flex;
        margin: 0;
        border: none;
    }
    
    .d-slide {
        margin-top: 15px;
        width: 27%;
    }
    
    .d-slide img {
        height: 85%;
        width: 90%;
        margin-left: 10px
    }
    
    input[name="d"] {
        position: absolute;
        visibility: hidden;
    }
    .drum-info { 
        margin-top: 0px;
        font-size: 74%;
        height: 22%;
        box-shadow: 0px 10px 5px #cecece;
    }
    
    .drum-slideshow-nav {
        width: 90%;
        display: flex;
        position: relative;
        bottom: -540px;
        left: 30%;
    }
    .drum-bar {
        width: 50px;
        height: 15px;
        border: 1px solid #000000;
        margin: 6px;
        cursor: pointer;
        transition: 0.4s;
    }
    
    .drum-bar:hover { background-color: #3498db; }
    
    #d1:checked ~ .d1 {
        margin-left: 45px;
    }
      
    #d2:checked ~ .d1 {
        margin-left: -270px
    }
    
    #d2:checked ~ .d2 {
        width: 20%;
    }
    
    #d3:checked ~ .d1 {
        margin-left: -625px
    }
    
    #d3:checked ~ .d3 {
        width: 25%;
    }
    
    .section-find-us { margin-top: 580px; }
    
    .contact-us {
        width: 100%;
        margin-top: 10px;
    }
    
    .map-container {
        margin: 0 7.5%;
        width: 85%;
        border: none;
    }
    
    .map { width: 100%; height: 50%; box-shadow: 0px 0px 10px #939393; }

    .call-us h5 { font-weight: 300; font-size: 100%} 
    
    .call-us h2 { margin-left: 28%; }
    
    .staff { margin-top: 20px; margin-right: 40px; margin-left: 40px; width: 70%; }
    
    .person-pic1 img {
        height: 70px;
        margin-left: 90%;
    }

    .person-pic1 h5 {
        margin-left: 90%;
        font-size: 90%;
        width: 100%;
    }
    .person-pic2 img {display: none;}
    .person-pic2 h5 {display: none;}
    .person-pic3 img {display: none;}
    .person-pic3 h5 {display: none;}
    
    .phone-email {
        margin-left: 0%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .email {
        margin-left: 20%;
        margin-top: 30px;
    }

    .mail-icon {
        font-size: 200%;
        margin-left: 33%;
    }

    .phone {
        transition: 0.5s;
        margin-left: 33%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        color: #3498db;
    }

    .phone:hover {
        transition: 0.5s;
        color: #217ebb;
    }

    .phone-icon {
        font-size: 200%;
        margin-left: 20%;
    }
    
    .social-media { margin-right: 27%;}
    
    .copyright { margin-left: 15%}
}


/*                  Mobile Nav + Section Title                    */
@media only screen and (max-width: 900px) and (min-width: 100px) {
    .main-nav { display: none; }
    .dropbtn { display: block; }
}
@media only screen and (max-width: 900px) and (min-width: 416px) {
    .section-title { margin: 40px 100px; }
}


/*                      Drum Slideshow Nav                        */
@media only screen and (max-width: 1232px) and (min-width: 1175px) {
    .drum-slideshow-nav { left: 18%; }
}

@media only screen and (max-width: 1174px) and (min-width: 1100px) {
    .drum-slideshow-nav { left: 16%; }
}

@media only screen and (max-width: 1099px) and (min-width: 1030px) {
    .drum-slideshow-nav { left: 14%; }
}

@media only screen and (max-width: 1029px) and (min-width: 1000px) {
    .drum-slideshow-nav { left: 12%; }
}

   














